#!/bin/bash -e

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

THIS_DIR=$(dirname $(realpath -s $0))
# export ROOT_DIR="$(git rev-parse --show-toplevel)"

layout python "/usr/local/bin/python3"

export PYTHONPATH="$PYTHONPATH:${THIS_DIR}"
